<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is homepage.</h1>

    <form action="{% url 'count' %}">
        <textarea name="fulltext" id="" cols="40" rows="10"></textarea>
        <br>
        <input type="submit" value="Count">
    </form>
    
    <form action="{% url 'about' %}">
        <input type="submit" value="About">
    </form>
</body>
</html>